---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

import DescriptionList from "../components/DescriptionList.astro";
import Legend from "../components/Legend.astro";
import Words from "../components/Words.astro";
import Bio from "../components/Bio.astro";

import Profile from "../components/Profile.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
---

<Layout>
	<div class="dark:bg-gray-900 bg-gray-100 w-full h-max py-20">
		<div class="prose dark:prose-invert mx-auto w-full max-w-none md:max-w-3xl">
			<Profile/>
			<Bio/>
			<div class="flex flex-wrap flex-row w-full justify-between p-5">
				<div>
					<h1 class="mb-0">Names</h1>
					<DescriptionList
						love={["Luna", "Charlott"]}
						like={["Kara", "Jossi", "Josephine"]}
						idk={["Emma"]}
					/>
				</div>
				<div>
					<h1>Pronouns</h1>
					<DescriptionList
						love={["she/her"]}
						like={["they/them"]}
						hate={["he/him"]}
					/>
				</div>
			</div>
			<Words/>
			<Legend/>
			<div class="flex justify-center p-5">
				<a class="opacity-50" href="https://en.pronouns.page/@_lunabytes">Original Pronouns page and the main inspiration</a>
			</div>
		</div>
	</div>
</Layout>
