---

import SpotifyEmbed from "./SpotifyEmbed.astro";---
<div class="flex flex-wrap flex-row gap-10 items-center p-3">
    <h1 class="mb-0">Music</h1>
    <p class="mt-0 mb-0">random 5 out of all</p>
</div>
<div class="flex flex-wrap flex-col p-3">
    <div class="w-full">
        <h3 class="mt-2">Current favorites</h3>
        <SpotifyEmbed uri="track/6lt8Z886tMHpNqzOFWX8Yn"/>
    </div>
    <div class="w-full">
        <h3 class="mt-2">All-time favorites</h3>
        <SpotifyEmbed uri="track/6lt8Z886tMHpNqzOFWX8Yn"/>
    </div>
</div>